.product_view {
  width: 100%;
  overflow: hidden;
}

.product_view .conwrap {
  position: relative;
  width: 1390px;
  margin: 0 auto;
  border-left: 1px solid #ddd;
  padding-left: 9px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1450px) {
  .product_view .conwrap {
    position: relative;
    border-left: 1px solid #ddd;
    width: 90%;
    margin: 0 auto;
    padding-left: 9px;
  }
}

.product_info {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
}

.product_info .bgarea {
  position: absolute;
  left: -50px;
  top: 150px;
  z-index: -1;
  width: 1000%;
  height: 100%;
  background-color: #f8f8f8;
}

.product_info .numbering {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #000;
  position: absolute;
  left: -65px;
  top: 20px;
  transform: rotateZ(-90deg);
}

.numbering span:nth-child(1) {
  font-size: 25px;
  font-weight: 500;
}

.p_gall .big {
  overflow: hidden;
  width: 447px;
  height: 656px;
  border: 1px solid #ddd;
}

.p_gall .thumb {
  position: relative;
  width: 449px;
  margin-top: 10px;
}

.p_gall .thumb .tprev {
  position: absolute;
  top: 0;
  left: 0;
}

.p_gall .thumb .tnext {
  position: absolute;
  top: 0;
  right: 0;
}

.p_gall .thumb .small_thumb_wrap {
  overflow: hidden;
  width: 333px;
  height: 108px;
  margin: 0 auto;
}

.p_gall .thumb .small_thumb_wrap ul {
  display: flex;
  flex-direction: row;
}

.p_gall .thumb .small_thumb_wrap li {
  display: flex;
  justify-content: left;
  width: 71px;
  height: 106px;
  margin-right: 13px;
  border: 1px solid #ddd;
}

.p_gall .thumb .small_thumb_wrap li img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.product_info .products {
  width: 68%;
  display: flex;
  justify-content: space-between;
}

.product_info .product_info {
  position: relative;
  padding-top: 25px;
}

.product_info .p_info .p_name {
  margin: 40px 0 25px;
}

.product_info .p_info .p_name .pname {
  font-size: 30px;
  color: #333;
}

.product_info .p_info .p_name .pname:after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  margin-top: 10px;
  background-color: #c40f39;
}

.product_info .p_info .p_name .cate {
  font-size: 19px;
  color: #666;
}

.product_info .p_info .info_list {
  position: relative;
  padding-top: 25px;
}

.info_list:before {
  content: '';
  display: block;
  width: 10000px;
  height: 1px;
  background: #ddd;
  position: absolute;
  left: -65px;
  top: 0;
}

.info_list > div {
  margin-bottom: 25px;
}

.info_list .tit {
  padding-left: 13px;
  background: url(/img/list_bg2.gif) no-repeat left 8px;
  font-family: 'Montserrat';
  font-size: 16px;
  color: #c40f39;
  font-weight: 500;
  margin-bottom: 7px;
}

.info_list .key_features ul {
  padding-bottom: 3px;
}

.info_list .color_list {
  display: flex;
}

.info_list .color_list .color_chip {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-right: 3px;
  font-size: 10px;
}

.info_list .download_list {
  display: flex;
}

.info_list .download_btn {
  margin-right: 5px;
  display: block;
  width: 146px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  background: #f4f4f4;
  color: #7c7c7c;
  font-size: 14px;
  border: 1px solid #ddd;
}

.product_info .btn_buy {
  position: absolute;
  right: 0;
  bottom: 95px;
}
